.module-card {
  transition: all 0.3s ease;
  border-radius: 15px;
  background: #ffffff;
}

.module-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1) !important;
  background-color: #f8f9fa;
}

.icon-container {
  background: #f0f2f5;
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin: 0 auto;
  transition: transform 0.3s ease;
}

.module-card:hover .icon-container {
  transform: scale(1.1);
}